* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Epilogue", serif;
  background-color: #faf8f6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blue {
  color: #172339;
}

.gray {
  color: #49566d;
}

.beige {
  color: #f3ede7;
}

.white {
  color: #faf8f6;
}

.purple {
  color: #cb30e3;
}

.violet {
  color: #a060ff;
}

.orange {
  color: #ffa84e;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.h {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.527778px;
}

.normal {
  font-weight: 400;
}

.h-s {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
}

.q {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.111111px;
}

.b {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.f {
  font-size: 15px;
  line-height: 32px;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  transition: 1s;
  cursor: pointer;
  width: 182px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #172339;
  border-radius: 8px;
  background-color: transparent;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
}

.header__btn:hover {
  background-color: #172339;
  color: #faf8f6;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 15px;
}

.hero__illustration__container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.hero__illustration {
  width: 151.47px;
  height: 19px;
}

.hero__title {
  margin-block: 10px 30px;
  width: 85%;
}

.hero__description {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.0888889px;
  color: #49566d;
}

.hero__btn {
  cursor: pointer;
  transition: 1s;
  margin-block: 30px;
  width: 256px;
  height: 61px;
  border-radius: 6px;
  background-color: #172339;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.hero__btn:hover {
  background-image: linear-gradient(
    135deg,
    #a060ff 0%,
    #cb30e3 49.21%,
    #ffa84e 100%
  );
}

.hero__image__container {
  margin-block: 30px;
}

.hero__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat__box {
  margin-block: 20px;
}

.stat__amount {
  font-size: 48px;
  line-height: 56px;
  color: #172339;
}

.stat__title {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
  color: #49566d;
}

.footer {
  margin-top: 300px;
  width: 100%;
  background-color: #f3ede7;
}

.testimonial {
  border-radius: 15px;
  height: 748px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #172339;
}

.testimonial__image__container {
  top: -30%;
  left: 20%;
  position: absolute;
  width: 252px;
  height: 402px;
  z-index: 2;
}

.testimonial__image {
  position: relative;
  z-index: 2;
}

.testimonial__image__container::after {
  content: "";
  position: inherit;
  bottom: -60%;
  left: -2%;
  height: 100%;
  width: 100%;
  background-image: url(./assets/pattern-blur.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -3.125rem center;
  z-index: 0;
}

.testimonial__illustration {
  display: block;
  margin: 240px auto 30px;
  width: 49.27px;
  height: 40px;
}

.testimonial__title {
  margin-block: 30px;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.416667px;
}

.testimonial__quote {
  margin: 30px auto;
  width: 80%;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.09px;
}

.cmo {
  margin-block: 10px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo,
.footer__copyright,
.footer__social-medias {
  margin-block: 20px;
}

.footer__social-medias {
  display: flex;
  gap: 30px;
}

.social-media__icon {
  transition: 1s;
  cursor: pointer;
}

.social-media__icon:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .h {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.777778px;
  }

  .header {
    padding: 50px;
  }

  .hero__container {
    display: flex;
  }

  .hero__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 70vh;
    height: 500px;
    align-self: center;
    margin-bottom: 15%;
  }

  .hero__title {
    width: 70%;
    margin-block: 30px;
  }

  .hero__description {
    width: 50%;
  }

  .hero__illustration__container {
    margin-top: 10%;
    padding-right: 30%;
  }

  .hero__illustration {
    width: 231.19px;
    height: 25.78px;
  }

  .hero__image__container {
    position: absolute;
    right: 5%;
    z-index: -1;
    width: 35%;
  }

  .hero__btn {
    min-height: 61px;
  }

  .hero__stats {
    flex-direction: row;
    justify-content: center;
    gap: 20%;
  }

  .footer {
    position: relative;
    height: 640px;
    margin-top: 400px;
  }

  .testimonial {
    height: auto;
    position: absolute;
    left: 5%;
    top: -20%;
    width: 90%;
    margin-inline: auto;
  }

  .testimonial__image__container {
    left: 35%;
  }

  .testimonial__image__container::after {
    left: 0;
  }

  .testimonial__illustration__container {
    display: flex;
  }

  blockquote {
    padding-bottom: 20px;
  }

  .testimonial__illustration__container {
    margin-block: 10px;
  }

  .footer__bottom {
    padding-inline: 40px;
    position: relative;
    bottom: -85%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1025px) {
  .h {
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
  }

  .header {
    padding: 30px 100px;
  }

  .hero {
    padding-inline: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__content {
    width: 80%;
  }

  .hero__title {
    width: 100%;
  }

  .hero__description {
    width: 50%;
  }

  .hero__stats {
    align-self: center;
    height: 0%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
  }

  .stat__box {
    margin-block: 20px;
  }

  .hero__image__container {
    width: 350px;
    height: 600px;
    left: 50%;
  }

  .hero__image {
    width: 100%;
    height: 100%;
  }

  .footer {
    margin-top: 300px;
    padding-bottom: 0;
    height: 464px;
  }

  .testimonial {
    margin-top: -30px;
    flex-direction: row;
    height: 455px;
    justify-content: flex-end;
    text-align: left;
  }

  .testimonial__image__container {
    max-width: auto;
    max-width: 450px;
    height: 450px;
    left: 10%;
  }

  .testimonial__illustration__container {
    height: 52px;
    width: 64.05px;
    margin-top: -10%;
    margin-right: 100px;
  }

  .testimonial__image__container .testimonial__image {
    height: 589.56px;
    width: 359.81px;
    margin-bottom: 110px;
  }

  .testimonial__content {
    display: block;
    width: 50%;
  }

  .testimonial__title {
    margin-block: 35px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }

  .testimonial__quote {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
  }

  .testimonial__blockquote p {
    width: 60%;
    text-align: left;
    margin-inline: 0;
  }

  .testimonial__blockquote {
    text-align: left;
    margin-inline: 0;
  }
}
